.header-wrapper {
  display: flex;
  align-items: center;
}

.home-tabs {
  display: flex;
  justify-content: space-between;
  list-style: none;
  li > a {
    color: $main-color;
    text-decoration: none;
  }
}

.icons > img {
  max-width: 40px;
  height: 40px;
  margin: 0 1rem;
  cursor: pointer;
}